<% if @user.admin %>
  <h3>ADMIN</h3>
<% end %>

<% if @message %>
  <%= @message %>
<% end %>


<h3>Name: <%= @user.name %></h3>
<h3>Tickets: <%= @user.tickets %></h3>
<h3>Mood: <%= @user.mood %></h3>
<h3>Height: <%= @user.height %></h3>

<%= link_to "Edit", edit_user_path(@user) %>
<%= link_to "Log Out", logout_path%>

<% if @user.admin %>
  <%= link_to "See attractions", user_attractions_path(@user)%>
<% else %>
  <%= link_to "See attractions", attractions_path%>
<% end %>
